* {
  background-color: rgb(175, 172, 172);
}
/* ↓ removes disgusting selection of text ↓ */
body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
