* {
  background-color: #111;
  text-align: center;
  color: #eee;
  font-family: sans-serif;
}
/* ↓ removes disgusting selection of text ↓ */
body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

button {
  /* we add social distancing to the buttons */
  margin-right: 4px;
  margin-bottom: 4px;
  /* we make the border of the buttons hot */
  border: solid 1.5px #ddd;
  cursor: pointer;
}
#hog-counters {
font-size: 14.20px;
}
